# ============================================================
# J.A.R.V.I.S — Environment Variables
# Copy this file to .env and fill in your values
# ============================================================

# Server
PORT=5000
NODE_ENV=development

# MongoDB Atlas
MONGO_URI=mongodb+srv://piyushsinghtomar777_db_user:2DdpQPJcCnZFJNwf@cluster0.aahupud.mongodb.net/JARVIS?retryWrites=true&w=majority

# JWT
JWT_SECRET=secret
JWT_EXPIRE=7d

# OpenAI
OPENAI_API_KEY=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# App
FRONTEND_URL=http://localhost:5173

# Voice Clone XTTS-v2 Colab API (Ngrok URL)
XTTS_API_URL=http://127.0.0.1:8000
